<%= form_with(model: cashmaster, local: true) do |form| %>
  <% if cashmaster.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cashmaster.errors.count, "error") %> prohibited this cashmaster from being saved:</h2>

      <ul>
        <% cashmaster.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price, :class => 'text_field' %>
  </div>

  <div class="field">
    <%= form.label :comments %>
    <%= form.text_area :comments %>
  </div>

  <h3>Add the iteams</h3>

    <%= form.fields_for :cashdetails do |cashdetail| %>
      <%= render 'cashdetail_fields', :f => cashdetail %>
    <% end %>
    <div class="links">
       <%= link_to_add_association 'add Items', form, :cashdetails %>
    </div>
  

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
